/* styles.css */
body{
    background-color: #2D4059;
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 300;
}
/* Add styles here to customize the appearance of your app */
/*
nav{
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-left: 0;
    height: 8vh;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: ;
}*/

.welcomeMsg{
    vertical-align: middle;
    text-align: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: white;
}

.userID{
    display: inline-block;
    float: left;
    margin: 1rem;   
    font-weight: 300;
    font-size: 14px;
}

.header{
    margin-top: 10vh;
}

.send{
    margin-left: 20%;
    margin-right: 15%;
}

.receive{
    margin-left: 15%;
    margin-right: 18%;
}

.middle{
    margin-top: 10rem;
    text-align: center;
}
.bottom{
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 40%;
    margin-bottom: 5rem;
}

/* [id]:not([id='userid']) */
button{
    background-color: black;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    cursor: pointer;    
    border: none;
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 1em;
}
button:hover{
    background-color:grey;
}