/* styles.css */
@font-face {
    font-family: "Inter-Light";
    src: url("Inter-Light.ttf");
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url("Inter-SemiBold.ttf");
}

body{
    background-image: linear-gradient(rgb(0,22,45), rgb(0,50,50));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Inter-light, sans-serif;
    color: white;
    font-weight: 300;
}
/* Add styles here to customize the appearance of your app */
/*
nav{
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-left: 0;
    height: 8vh;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: ;
}*/

.welcomeMsg{
    vertical-align: middle;
    text-align: center;
    align-items: center;
    font-family: Inter-SemiBold, sans-serif;
    font-weight: 500;
    color: white;
}

.userID{
    display: inline-block;
    float: left;
    margin: 1rem;   
    font-weight: 300;
    font-size: 14px;
}

.header{
    margin-top: 10vh;
}

.send{
    margin-left: 20%;
    margin-right: 15%;
}

.receive{
    margin-left: 15%;
    margin-right: 18%;
}

.userid{
    border-radius: 5px;
}


.middle{
    display: none;
    margin-top: 10rem;
    text-align: center;
}
.bottom{
    display: none;
    position: absolute;
    bottom: 0;
    right: 40%;
    margin-bottom: 5rem;
}

button{
    background-color: rgb(0,100,0);
    border-radius: 30px;
    width: 130px;
    height: 45px;
    cursor: pointer;    
    border: none;
    font-family: Inter-Light, sans-serif;
    color: white;
    font-size: 1.1em;
}
button:hover{
    background-color: rgb(0,150,0);
}

.encrypt{
    padding: 10px;
    position: relative;
    left: 0%;
    margin-left:  10px;
}